go 1.18

use (
	./core
	./examples/authentication
	./examples/configuration
	./examples/dns
	./examples/errorhandling
	./examples/logme
	./examples/mariadb
	./examples/opensearch
	./examples/postgresflex
	./examples/postgresql
	./examples/rabbitmq
	./examples/redis
	./examples/secretsmanager
	./examples/ske
	./examples/waiter
	./services/argus
	./services/dns
	./services/logme
	./services/mariadb
	./services/mongodbflex
	./services/opensearch
	./services/postgresflex
	./services/postgresql
	./services/rabbitmq
	./services/redis
	./services/resourcemanager
	./services/secretsmanager
	./services/ske
)
