go 1.18

use (
	./core
	./examples/argus
	./examples/authentication
	./examples/authorization
	./examples/backgroundrefresh
	./examples/configuration
	./examples/dns
	./examples/errorhandling
	./examples/iaas
	./examples/loadbalancer
	./examples/logme
	./examples/mariadb
	./examples/middleware
	./examples/mongodbflex
	./examples/objectstorage
	./examples/opensearch
	./examples/postgresflex
	./examples/rabbitmq
	./examples/redis
	./examples/resourcemanager
	./examples/runtime
	./examples/secretsmanager
	./examples/serviceaccount
	./examples/serviceenablement
	./examples/ske
	./examples/sqlserverflex
	./examples/waiter
	./scripts
	./services/archiving
	./services/argus
	./services/authorization
	./services/dns
	./services/iaas
	./services/loadbalancer
	./services/logme
	./services/mariadb
	./services/membership
	./services/mongodbflex
	./services/objectstorage
	./services/observability
	./services/opensearch
	./services/postgresflex
	./services/rabbitmq
	./services/redis
	./services/resourcemanager
	./services/runcommand
	./services/secretsmanager
	./services/serverbackup
	./services/serviceaccount
	./services/serviceenablement
	./services/ske
	./services/sqlserverflex
)
