/*
STACKIT Cost API

The cost API provides detailed reports on the costs for a customer or project over a certain amount of time

API version: 3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package v3api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"

	"github.com/stackitcloud/stackit-sdk-go/core/config"
	"github.com/stackitcloud/stackit-sdk-go/core/oapierror"
)

type DefaultAPI interface {

	/*
		GetCostsForProject V3 Costs for a certain project

		Get costs for a certain project in a customer account

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param customerAccountId ID of a customer account
		@param projectId ID of a project
		@return ApiGetCostsForProjectRequest
	*/
	GetCostsForProject(ctx context.Context, customerAccountId string, projectId string) ApiGetCostsForProjectRequest

	// GetCostsForProjectExecute executes the request
	//  @return ProjectCost
	GetCostsForProjectExecute(r ApiGetCostsForProjectRequest) (*ProjectCost, error)

	/*
		ListCostsForCustomer V3 Costs for all projects

		Get costs for all projects in a customer account

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param customerAccountId ID of a customer account
		@return ApiListCostsForCustomerRequest
	*/
	ListCostsForCustomer(ctx context.Context, customerAccountId string) ApiListCostsForCustomerRequest

	// ListCostsForCustomerExecute executes the request
	//  @return []ProjectCost
	ListCostsForCustomerExecute(r ApiListCostsForCustomerRequest) ([]ProjectCost, error)

	/*
		ListCostsForReseller V3 Costs for all projects of all related sub-customers

		Get costs for all projects of all related sub-customer accounts

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param customerAccountId ID of a customer account
		@return ApiListCostsForResellerRequest
	*/
	ListCostsForReseller(ctx context.Context, customerAccountId string) ApiListCostsForResellerRequest

	// ListCostsForResellerExecute executes the request
	//  @return []ProjectCost
	ListCostsForResellerExecute(r ApiListCostsForResellerRequest) ([]ProjectCost, error)
}

// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiGetCostsForProjectRequest struct {
	ctx               context.Context
	ApiService        DefaultAPI
	customerAccountId string
	projectId         string
	from              *string
	to                *string
	depth             *string
	granularity       *string
	includeZeroCosts  *bool
	accept            *string
}

// Inclusive start date of the selection range. Internally, usages are recorded in UTC. This means all usages starting on and after 00:00:00 UTC on the specified date are included.
func (r ApiGetCostsForProjectRequest) From(from string) ApiGetCostsForProjectRequest {
	r.from = &from
	return r
}

// Inclusive end date of the selection range. Internally, usages are recorded in UTC. This means all usages starting up to and including 23:59:59 UTC on the specified date are included.
func (r ApiGetCostsForProjectRequest) To(to string) ApiGetCostsForProjectRequest {
	r.to = &to
	return r
}

// Depth of desired cost information. \&quot;project\&quot; provides costs grouped by project, without services. \&quot;service\&quot; provides costs separated on service level.
func (r ApiGetCostsForProjectRequest) Depth(depth string) ApiGetCostsForProjectRequest {
	r.depth = &depth
	return r
}

// Define granularity of costs – Default is \&quot;none\&quot; which does NOT include detailed report data.  If \&quot;monthly\&quot;, \&quot;weekly\&quot; or \&quot;yearly\&quot; is requested, the \&quot;from\&quot; parameter SHOULD be the first day and the \&quot;to\&quot; parameter SHOULD be the last day of that time period. If not, they are normalized accordingly.  If \&quot;daily\&quot; is requested, the date range defined by \&quot;from\&quot; and \&quot;to\&quot; MUST NOT be longer than 92 days.
func (r ApiGetCostsForProjectRequest) Granularity(granularity string) ApiGetCostsForProjectRequest {
	r.granularity = &granularity
	return r
}

// Whether costs of 0 should be included in the response
func (r ApiGetCostsForProjectRequest) IncludeZeroCosts(includeZeroCosts bool) ApiGetCostsForProjectRequest {
	r.includeZeroCosts = &includeZeroCosts
	return r
}

// Desired content type
func (r ApiGetCostsForProjectRequest) Accept(accept string) ApiGetCostsForProjectRequest {
	r.accept = &accept
	return r
}

func (r ApiGetCostsForProjectRequest) Execute() (*ProjectCost, error) {
	return r.ApiService.GetCostsForProjectExecute(r)
}

/*
GetCostsForProject V3 Costs for a certain project

Get costs for a certain project in a customer account

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param customerAccountId ID of a customer account
	@param projectId ID of a project
	@return ApiGetCostsForProjectRequest
*/
func (a *DefaultAPIService) GetCostsForProject(ctx context.Context, customerAccountId string, projectId string) ApiGetCostsForProjectRequest {
	return ApiGetCostsForProjectRequest{
		ApiService:        a,
		ctx:               ctx,
		customerAccountId: customerAccountId,
		projectId:         projectId,
	}
}

// Execute executes the request
//
//	@return ProjectCost
func (a *DefaultAPIService) GetCostsForProjectExecute(r ApiGetCostsForProjectRequest) (*ProjectCost, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectCost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetCostsForProject")
	if err != nil {
		return localVarReturnValue, &oapierror.GenericOpenAPIError{ErrorMessage: err.Error()}
	}

	localVarPath := localBasePath + "/v3/costs/{customerAccountId}/projects/{projectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"customerAccountId"+"}", url.PathEscape(parameterValueToString(r.customerAccountId, "customerAccountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue string = "auto"
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "none"
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", defaultValue, "form", "")
		r.granularity = &defaultValue
	}
	if r.includeZeroCosts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeZeroCosts", r.includeZeroCosts, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeZeroCosts", defaultValue, "form", "")
		r.includeZeroCosts = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, err
	}

	contextHTTPRequest, ok := r.ctx.Value(config.ContextHTTPRequest).(**http.Request)
	if ok {
		*contextHTTPRequest = req
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	contextHTTPResponse, ok := r.ctx.Value(config.ContextHTTPResponse).(**http.Response)
	if ok {
		*contextHTTPResponse = localVarHTTPResponse
	}
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &oapierror.GenericOpenAPIError{
			Body:         localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
			StatusCode:   localVarHTTPResponse.StatusCode,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
		}
		return localVarReturnValue, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &oapierror.GenericOpenAPIError{
			StatusCode:   localVarHTTPResponse.StatusCode,
			Body:         localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, newErr
	}

	return localVarReturnValue, nil
}

type ApiListCostsForCustomerRequest struct {
	ctx               context.Context
	ApiService        DefaultAPI
	customerAccountId string
	from              *string
	to                *string
	depth             *string
	granularity       *string
	includeZeroCosts  *bool
	accept            *string
}

// Inclusive start date of the selection range. Internally, usages are recorded in UTC. This means all usages starting on and after 00:00:00 UTC on the specified date are included.
func (r ApiListCostsForCustomerRequest) From(from string) ApiListCostsForCustomerRequest {
	r.from = &from
	return r
}

// Inclusive end date of the selection range. Internally, usages are recorded in UTC. This means all usages starting up to and including 23:59:59 UTC on the specified date are included.
func (r ApiListCostsForCustomerRequest) To(to string) ApiListCostsForCustomerRequest {
	r.to = &to
	return r
}

// Depth of desired cost information. \&quot;project\&quot; provides costs grouped by project, without services. \&quot;service\&quot; provides costs separated on service level.
func (r ApiListCostsForCustomerRequest) Depth(depth string) ApiListCostsForCustomerRequest {
	r.depth = &depth
	return r
}

// Define granularity of costs – Default is \&quot;none\&quot; which does NOT include detailed report data.  If \&quot;monthly\&quot;, \&quot;weekly\&quot; or \&quot;yearly\&quot; is requested, the \&quot;from\&quot; parameter SHOULD be the first day and the \&quot;to\&quot; parameter SHOULD be the last day of that time period. If not, they are normalized accordingly.  If \&quot;daily\&quot; is requested, the date range defined by \&quot;from\&quot; and \&quot;to\&quot; MUST NOT be longer than 92 days.
func (r ApiListCostsForCustomerRequest) Granularity(granularity string) ApiListCostsForCustomerRequest {
	r.granularity = &granularity
	return r
}

// Whether costs of 0 should be included in the response
func (r ApiListCostsForCustomerRequest) IncludeZeroCosts(includeZeroCosts bool) ApiListCostsForCustomerRequest {
	r.includeZeroCosts = &includeZeroCosts
	return r
}

// Desired content type
func (r ApiListCostsForCustomerRequest) Accept(accept string) ApiListCostsForCustomerRequest {
	r.accept = &accept
	return r
}

func (r ApiListCostsForCustomerRequest) Execute() ([]ProjectCost, error) {
	return r.ApiService.ListCostsForCustomerExecute(r)
}

/*
ListCostsForCustomer V3 Costs for all projects

Get costs for all projects in a customer account

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param customerAccountId ID of a customer account
	@return ApiListCostsForCustomerRequest
*/
func (a *DefaultAPIService) ListCostsForCustomer(ctx context.Context, customerAccountId string) ApiListCostsForCustomerRequest {
	return ApiListCostsForCustomerRequest{
		ApiService:        a,
		ctx:               ctx,
		customerAccountId: customerAccountId,
	}
}

// Execute executes the request
//
//	@return []ProjectCost
func (a *DefaultAPIService) ListCostsForCustomerExecute(r ApiListCostsForCustomerRequest) ([]ProjectCost, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectCost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ListCostsForCustomer")
	if err != nil {
		return localVarReturnValue, &oapierror.GenericOpenAPIError{ErrorMessage: err.Error()}
	}

	localVarPath := localBasePath + "/v3/costs/{customerAccountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"customerAccountId"+"}", url.PathEscape(parameterValueToString(r.customerAccountId, "customerAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue string = "auto"
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "none"
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", defaultValue, "form", "")
		r.granularity = &defaultValue
	}
	if r.includeZeroCosts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeZeroCosts", r.includeZeroCosts, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeZeroCosts", defaultValue, "form", "")
		r.includeZeroCosts = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, err
	}

	contextHTTPRequest, ok := r.ctx.Value(config.ContextHTTPRequest).(**http.Request)
	if ok {
		*contextHTTPRequest = req
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	contextHTTPResponse, ok := r.ctx.Value(config.ContextHTTPResponse).(**http.Response)
	if ok {
		*contextHTTPResponse = localVarHTTPResponse
	}
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &oapierror.GenericOpenAPIError{
			Body:         localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
			StatusCode:   localVarHTTPResponse.StatusCode,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
		}
		return localVarReturnValue, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &oapierror.GenericOpenAPIError{
			StatusCode:   localVarHTTPResponse.StatusCode,
			Body:         localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, newErr
	}

	return localVarReturnValue, nil
}

type ApiListCostsForResellerRequest struct {
	ctx               context.Context
	ApiService        DefaultAPI
	customerAccountId string
	from              *string
	to                *string
	depth             *string
	granularity       *string
	includeZeroCosts  *bool
	accept            *string
}

// Inclusive start date of the selection range. Internally, usages are recorded in UTC. This means all usages starting on and after 00:00:00 UTC on the specified date are included.
func (r ApiListCostsForResellerRequest) From(from string) ApiListCostsForResellerRequest {
	r.from = &from
	return r
}

// Inclusive end date of the selection range. Internally, usages are recorded in UTC. This means all usages starting up to and including 23:59:59 UTC on the specified date are included.
func (r ApiListCostsForResellerRequest) To(to string) ApiListCostsForResellerRequest {
	r.to = &to
	return r
}

// Depth of desired cost information. \&quot;project\&quot; provides costs grouped by project, without services. \&quot;service\&quot; provides costs separated on service level.
func (r ApiListCostsForResellerRequest) Depth(depth string) ApiListCostsForResellerRequest {
	r.depth = &depth
	return r
}

// Define granularity of costs – Default is \&quot;none\&quot; which does NOT include detailed report data.  If \&quot;monthly\&quot;, \&quot;weekly\&quot; or \&quot;yearly\&quot; is requested, the \&quot;from\&quot; parameter SHOULD be the first day and the \&quot;to\&quot; parameter SHOULD be the last day of that time period. If not, they are normalized accordingly.  If \&quot;daily\&quot; is requested, the date range defined by \&quot;from\&quot; and \&quot;to\&quot; MUST NOT be longer than 92 days.
func (r ApiListCostsForResellerRequest) Granularity(granularity string) ApiListCostsForResellerRequest {
	r.granularity = &granularity
	return r
}

// Whether costs of 0 should be included in the response
func (r ApiListCostsForResellerRequest) IncludeZeroCosts(includeZeroCosts bool) ApiListCostsForResellerRequest {
	r.includeZeroCosts = &includeZeroCosts
	return r
}

// Desired content type
func (r ApiListCostsForResellerRequest) Accept(accept string) ApiListCostsForResellerRequest {
	r.accept = &accept
	return r
}

func (r ApiListCostsForResellerRequest) Execute() ([]ProjectCost, error) {
	return r.ApiService.ListCostsForResellerExecute(r)
}

/*
ListCostsForReseller V3 Costs for all projects of all related sub-customers

Get costs for all projects of all related sub-customer accounts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param customerAccountId ID of a customer account
	@return ApiListCostsForResellerRequest
*/
func (a *DefaultAPIService) ListCostsForReseller(ctx context.Context, customerAccountId string) ApiListCostsForResellerRequest {
	return ApiListCostsForResellerRequest{
		ApiService:        a,
		ctx:               ctx,
		customerAccountId: customerAccountId,
	}
}

// Execute executes the request
//
//	@return []ProjectCost
func (a *DefaultAPIService) ListCostsForResellerExecute(r ApiListCostsForResellerRequest) ([]ProjectCost, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectCost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ListCostsForReseller")
	if err != nil {
		return localVarReturnValue, &oapierror.GenericOpenAPIError{ErrorMessage: err.Error()}
	}

	localVarPath := localBasePath + "/v3/costs/{customerAccountId}/customers"
	localVarPath = strings.Replace(localVarPath, "{"+"customerAccountId"+"}", url.PathEscape(parameterValueToString(r.customerAccountId, "customerAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue string = "auto"
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "none"
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", defaultValue, "form", "")
		r.granularity = &defaultValue
	}
	if r.includeZeroCosts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeZeroCosts", r.includeZeroCosts, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeZeroCosts", defaultValue, "form", "")
		r.includeZeroCosts = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, err
	}

	contextHTTPRequest, ok := r.ctx.Value(config.ContextHTTPRequest).(**http.Request)
	if ok {
		*contextHTTPRequest = req
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	contextHTTPResponse, ok := r.ctx.Value(config.ContextHTTPResponse).(**http.Response)
	if ok {
		*contextHTTPResponse = localVarHTTPResponse
	}
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &oapierror.GenericOpenAPIError{
			Body:         localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
			StatusCode:   localVarHTTPResponse.StatusCode,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
			return localVarReturnValue, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, newErr
		}
		return localVarReturnValue, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &oapierror.GenericOpenAPIError{
			StatusCode:   localVarHTTPResponse.StatusCode,
			Body:         localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, newErr
	}

	return localVarReturnValue, nil
}
