/*
STACKIT Audit Log API

API Endpoints to retrieve recorded actions and resulting changes in the system.  ### Documentation The user documentation with explanations how to use the api can be found  [here](https://docs.stackit.cloud/stackit/en/retrieve-audit-log-per-api-request-134415907.html).  ### Audit Logging Changes on organizations, folders and projects and respective cloud resources are logged and collected in the audit  log.  ### API Constraints The audit log API allows to download messages from the last 90 days. The maximum duration that can be queried at  once is 24 hours. Requests are rate limited - the current maximum is 60 requests per minute.

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package v2api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"

	"github.com/stackitcloud/stackit-sdk-go/core/config"
	"github.com/stackitcloud/stackit-sdk-go/core/oapierror"
)

type DefaultAPI interface {

	/*
			ListFolderAuditLogEntries Folder - Download audit log entries

			Returns all audit log entries of the folder for the specified period. \
		Period must not be longer than 24 hours within the last 90 days.


			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param folderId ID of the folder for which entries should be returned.
			@return ApiListFolderAuditLogEntriesRequest
	*/
	ListFolderAuditLogEntries(ctx context.Context, folderId string) ApiListFolderAuditLogEntriesRequest

	// ListFolderAuditLogEntriesExecute executes the request
	//  @return ListAuditLogEntriesResponse
	ListFolderAuditLogEntriesExecute(r ApiListFolderAuditLogEntriesRequest) (*ListAuditLogEntriesResponse, *http.Response, error)

	/*
			ListOrganizationAuditLogEntries Organization - Download audit log entries

			Returns all audit log entries of the organization for the specified period. \
		Period must not be longer than 24 hours within the last 90 days.


			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param organizationId ID of the organization for which entries should be returned.
			@return ApiListOrganizationAuditLogEntriesRequest
	*/
	ListOrganizationAuditLogEntries(ctx context.Context, organizationId string) ApiListOrganizationAuditLogEntriesRequest

	// ListOrganizationAuditLogEntriesExecute executes the request
	//  @return ListAuditLogEntriesResponse
	ListOrganizationAuditLogEntriesExecute(r ApiListOrganizationAuditLogEntriesRequest) (*ListAuditLogEntriesResponse, *http.Response, error)

	/*
			ListProjectAuditLogEntries Project - Download audit log entries

			Returns all audit log entries of the project for the specified period. \
		Period must not be longer than 24 hours within the last 90 days.


			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param projectId ID of the project for which entries should be returned.
			@return ApiListProjectAuditLogEntriesRequest
	*/
	ListProjectAuditLogEntries(ctx context.Context, projectId string) ApiListProjectAuditLogEntriesRequest

	// ListProjectAuditLogEntriesExecute executes the request
	//  @return ListAuditLogEntriesResponse
	ListProjectAuditLogEntriesExecute(r ApiListProjectAuditLogEntriesRequest) (*ListAuditLogEntriesResponse, *http.Response, error)
}

// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiListFolderAuditLogEntriesRequest struct {
	ctx            context.Context
	ApiService     DefaultAPI
	folderId       string
	startTimeRange *time.Time
	endTimeRange   *time.Time
	limit          *float32
	cursor         *string
}

// An ISO timestamp to specify the beginning of the time range from which entries should be returned, based on the eventTimeStamp. If not given, defaults to the beginning of time.
func (r ApiListFolderAuditLogEntriesRequest) StartTimeRange(startTimeRange time.Time) ApiListFolderAuditLogEntriesRequest {
	r.startTimeRange = &startTimeRange
	return r
}

// An ISO timestamp to specify the end of the time range up until which entries should be returned, based on the eventTimeStamp. If not given, defaults to the time this request was received.
func (r ApiListFolderAuditLogEntriesRequest) EndTimeRange(endTimeRange time.Time) ApiListFolderAuditLogEntriesRequest {
	r.endTimeRange = &endTimeRange
	return r
}

// The maximum number of entries to return. If the value exceeds the allowed maximum, the maximum value will be used instead.
func (r ApiListFolderAuditLogEntriesRequest) Limit(limit float32) ApiListFolderAuditLogEntriesRequest {
	r.limit = &limit
	return r
}

// A pagination cursor to load further audit log entries for. May be included in the response of previous calls of the API.
func (r ApiListFolderAuditLogEntriesRequest) Cursor(cursor string) ApiListFolderAuditLogEntriesRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListFolderAuditLogEntriesRequest) Execute() (*ListAuditLogEntriesResponse, *http.Response, error) {
	return r.ApiService.ListFolderAuditLogEntriesExecute(r)
}

/*
ListFolderAuditLogEntries Folder - Download audit log entries

Returns all audit log entries of the folder for the specified period. \
Period must not be longer than 24 hours within the last 90 days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param folderId ID of the folder for which entries should be returned.
	@return ApiListFolderAuditLogEntriesRequest
*/
func (a *DefaultAPIService) ListFolderAuditLogEntries(ctx context.Context, folderId string) ApiListFolderAuditLogEntriesRequest {
	return ApiListFolderAuditLogEntriesRequest{
		ApiService: a,
		ctx:        ctx,
		folderId:   folderId,
	}
}

// Execute executes the request
//
//	@return ListAuditLogEntriesResponse
func (a *DefaultAPIService) ListFolderAuditLogEntriesExecute(r ApiListFolderAuditLogEntriesRequest) (*ListAuditLogEntriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListAuditLogEntriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ListFolderAuditLogEntries")
	if err != nil {
		return localVarReturnValue, nil, &oapierror.GenericOpenAPIError{ErrorMessage: err.Error()}
	}

	localVarPath := localBasePath + "/v2/folders/{folderId}"
	localVarPath = strings.Replace(localVarPath, "{"+"folderId"+"}", url.PathEscape(parameterValueToString(r.folderId, "folderId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startTimeRange == nil {
		return localVarReturnValue, nil, reportError("startTimeRange is required and must be specified")
	}
	if r.endTimeRange == nil {
		return localVarReturnValue, nil, reportError("endTimeRange is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "start-time-range", r.startTimeRange, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end-time-range", r.endTimeRange, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	contextHTTPRequest, ok := r.ctx.Value(config.ContextHTTPRequest).(**http.Request)
	if ok {
		*contextHTTPRequest = req
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	contextHTTPResponse, ok := r.ctx.Value(config.ContextHTTPResponse).(**http.Response)
	if ok {
		*contextHTTPResponse = localVarHTTPResponse
	}
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &oapierror.GenericOpenAPIError{
			Body:         localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
			StatusCode:   localVarHTTPResponse.StatusCode,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v GatewayErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &oapierror.GenericOpenAPIError{
			StatusCode:   localVarHTTPResponse.StatusCode,
			Body:         localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListOrganizationAuditLogEntriesRequest struct {
	ctx            context.Context
	ApiService     DefaultAPI
	organizationId string
	startTimeRange *time.Time
	endTimeRange   *time.Time
	limit          *float32
	cursor         *string
}

// An ISO timestamp to specify the beginning of the time range from which entries should be returned, based on the eventTimeStamp. If not given, defaults to the beginning of time.
func (r ApiListOrganizationAuditLogEntriesRequest) StartTimeRange(startTimeRange time.Time) ApiListOrganizationAuditLogEntriesRequest {
	r.startTimeRange = &startTimeRange
	return r
}

// An ISO timestamp to specify the end of the time range up until which entries should be returned, based on the eventTimeStamp. If not given, defaults to the time this request was received.
func (r ApiListOrganizationAuditLogEntriesRequest) EndTimeRange(endTimeRange time.Time) ApiListOrganizationAuditLogEntriesRequest {
	r.endTimeRange = &endTimeRange
	return r
}

// The maximum number of entries to return. If the value exceeds the allowed maximum, the maximum value will be used instead.
func (r ApiListOrganizationAuditLogEntriesRequest) Limit(limit float32) ApiListOrganizationAuditLogEntriesRequest {
	r.limit = &limit
	return r
}

// A pagination cursor to load further audit log entries for. May be included in the response of previous calls of the API.
func (r ApiListOrganizationAuditLogEntriesRequest) Cursor(cursor string) ApiListOrganizationAuditLogEntriesRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListOrganizationAuditLogEntriesRequest) Execute() (*ListAuditLogEntriesResponse, *http.Response, error) {
	return r.ApiService.ListOrganizationAuditLogEntriesExecute(r)
}

/*
ListOrganizationAuditLogEntries Organization - Download audit log entries

Returns all audit log entries of the organization for the specified period. \
Period must not be longer than 24 hours within the last 90 days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId ID of the organization for which entries should be returned.
	@return ApiListOrganizationAuditLogEntriesRequest
*/
func (a *DefaultAPIService) ListOrganizationAuditLogEntries(ctx context.Context, organizationId string) ApiListOrganizationAuditLogEntriesRequest {
	return ApiListOrganizationAuditLogEntriesRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return ListAuditLogEntriesResponse
func (a *DefaultAPIService) ListOrganizationAuditLogEntriesExecute(r ApiListOrganizationAuditLogEntriesRequest) (*ListAuditLogEntriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListAuditLogEntriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ListOrganizationAuditLogEntries")
	if err != nil {
		return localVarReturnValue, nil, &oapierror.GenericOpenAPIError{ErrorMessage: err.Error()}
	}

	localVarPath := localBasePath + "/v2/organizations/{organizationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startTimeRange == nil {
		return localVarReturnValue, nil, reportError("startTimeRange is required and must be specified")
	}
	if r.endTimeRange == nil {
		return localVarReturnValue, nil, reportError("endTimeRange is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "start-time-range", r.startTimeRange, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end-time-range", r.endTimeRange, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	contextHTTPRequest, ok := r.ctx.Value(config.ContextHTTPRequest).(**http.Request)
	if ok {
		*contextHTTPRequest = req
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	contextHTTPResponse, ok := r.ctx.Value(config.ContextHTTPResponse).(**http.Response)
	if ok {
		*contextHTTPResponse = localVarHTTPResponse
	}
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &oapierror.GenericOpenAPIError{
			Body:         localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
			StatusCode:   localVarHTTPResponse.StatusCode,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v GatewayErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &oapierror.GenericOpenAPIError{
			StatusCode:   localVarHTTPResponse.StatusCode,
			Body:         localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListProjectAuditLogEntriesRequest struct {
	ctx            context.Context
	ApiService     DefaultAPI
	projectId      string
	startTimeRange *time.Time
	endTimeRange   *time.Time
	limit          *float32
	cursor         *string
}

// An ISO timestamp to specify the beginning of the time range from which entries should be returned, based on the eventTimeStamp. If not given, defaults to the beginning of time.
func (r ApiListProjectAuditLogEntriesRequest) StartTimeRange(startTimeRange time.Time) ApiListProjectAuditLogEntriesRequest {
	r.startTimeRange = &startTimeRange
	return r
}

// An ISO timestamp to specify the end of the time range up until which entries should be returned, based on the eventTimeStamp. If not given, defaults to the time this request was received.
func (r ApiListProjectAuditLogEntriesRequest) EndTimeRange(endTimeRange time.Time) ApiListProjectAuditLogEntriesRequest {
	r.endTimeRange = &endTimeRange
	return r
}

// The maximum number of entries to return. If the value exceeds the allowed maximum, the maximum value will be used instead.
func (r ApiListProjectAuditLogEntriesRequest) Limit(limit float32) ApiListProjectAuditLogEntriesRequest {
	r.limit = &limit
	return r
}

// A pagination cursor to load further audit log entries for. May be included in the response of previous calls of the API.
func (r ApiListProjectAuditLogEntriesRequest) Cursor(cursor string) ApiListProjectAuditLogEntriesRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListProjectAuditLogEntriesRequest) Execute() (*ListAuditLogEntriesResponse, *http.Response, error) {
	return r.ApiService.ListProjectAuditLogEntriesExecute(r)
}

/*
ListProjectAuditLogEntries Project - Download audit log entries

Returns all audit log entries of the project for the specified period. \
Period must not be longer than 24 hours within the last 90 days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId ID of the project for which entries should be returned.
	@return ApiListProjectAuditLogEntriesRequest
*/
func (a *DefaultAPIService) ListProjectAuditLogEntries(ctx context.Context, projectId string) ApiListProjectAuditLogEntriesRequest {
	return ApiListProjectAuditLogEntriesRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
	}
}

// Execute executes the request
//
//	@return ListAuditLogEntriesResponse
func (a *DefaultAPIService) ListProjectAuditLogEntriesExecute(r ApiListProjectAuditLogEntriesRequest) (*ListAuditLogEntriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListAuditLogEntriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ListProjectAuditLogEntries")
	if err != nil {
		return localVarReturnValue, nil, &oapierror.GenericOpenAPIError{ErrorMessage: err.Error()}
	}

	localVarPath := localBasePath + "/v2/projects/{projectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startTimeRange == nil {
		return localVarReturnValue, nil, reportError("startTimeRange is required and must be specified")
	}
	if r.endTimeRange == nil {
		return localVarReturnValue, nil, reportError("endTimeRange is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "start-time-range", r.startTimeRange, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end-time-range", r.endTimeRange, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	contextHTTPRequest, ok := r.ctx.Value(config.ContextHTTPRequest).(**http.Request)
	if ok {
		*contextHTTPRequest = req
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	contextHTTPResponse, ok := r.ctx.Value(config.ContextHTTPResponse).(**http.Response)
	if ok {
		*contextHTTPResponse = localVarHTTPResponse
	}
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &oapierror.GenericOpenAPIError{
			Body:         localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
			StatusCode:   localVarHTTPResponse.StatusCode,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v GatewayErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = oapierror.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.Model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &oapierror.GenericOpenAPIError{
			StatusCode:   localVarHTTPResponse.StatusCode,
			Body:         localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
