name: CI Workflow

on: [pull_request, workflow_dispatch]

jobs:
  main:
    name: CI
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go-version: ["1.18", "1.19", "1.20", "1.21"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install project tools and dependencies
        if: ${{ matrix.go-version != '1.18' }}
        run: make project-tools
      - name: Lint
        if: ${{ matrix.go-version != '1.18' }}
        run: |
          make lint
          scripts/check-sync-tidy.sh
      - name: Lint scripts
        if: ${{ matrix.go-version == '1.21' }}
        run: |
          make lint-scripts
      - name: Test
        if: ${{ matrix.go-version != '1.18' }}
        run: |
          make test
      - name: Test scripts
        if: ${{ matrix.go-version == '1.21' }}
        run: |
          make test-scripts
