name: CI Workflow

on: [pull_request, workflow_dispatch]

jobs:
  main:
    name: CI
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go-version: ["1.21", "1.22", "1.23"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install STACKIT CLI
        uses: jkroepke/setup-stackit-cli@v1
      - name: Test
        run: make test

  lint:
    name: Linting
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
      - name: Install project tools and dependencies
        run: make project-tools
      - name: Lint
        run: |
          make lint
          scripts/check-sync-tidy.sh
      - name: Lint scripts
        run: |
          make lint-scripts
